@model IEnumerable<OMC2016.Models.Services.MachineList>
@{
    ViewBag.Title = "Machine Search";
}
<br />

<style media="all" type="text/css">
    .panel-search {
        width: 120px;
    }

    .dataTables_filter {
        display: none;
    }
    th, td { white-space: nowrap; }
    div.dataTables_wrapper{
        width: 100%;
    }
</style>

@{
    int IN_Warranty = 0;
    int OUT_Warranty = 0;
    foreach (var item in Model)
    {
        if (item.ISEXP.Equals("IN"))
        {
            IN_Warranty++;
        }
    }

    OUT_Warranty = Model.Count() - IN_Warranty;

}

<div class="container-fluid hidden">
    <div class="panel panel-green panel-search " id="pnSearch">
        <div class="panel-heading">
            <button type="button" data-toggle="collapse" data-parent="#" href="#one" class="btn btn-success"><span class="fa fa-search"></span> Search</button>
        </div>


        <div id="one" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="form-horizontal">
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Search by Serial" id="txtSerail" style="height:32px;">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="Search by Model" id="txtModel" style="height:32px;">
                        </div>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Search by Customer" id="txtCustomer" style="height:32px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                Machine List [ IN Warranty : @IN_Warranty | OUT Warranty : @OUT_Warranty ]
            </h3>
        </div>

        <div class="panel-body">
            <table id="MachineList" class="stripe row-border order-column" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>STATUS</th>
                        <th>CODE</th>
                        <th>CUSTOMER</th>
                        <th>MODEL</th>
                        <th>S/N</th>
                        <th>START</th>
                        <th>EXPIRE</th>
                        <th>TRANSFER</th>
                        <th>REMARK</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink("Detail", "Detail", new { id = item.MIXID })
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.ISEXP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.CODE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.NAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.TYPE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.SN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.SALE_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.EXP_DATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.ISTRANSFER)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.REMARK)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<link href="~/Content/DataTables/css/jquery.dataTables.css" rel="stylesheet"/>
<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(function () {
        $(document).ready(function () {
            $('.container-fluid').removeClass('hidden');

            var dataTableInstance = $('#MachineList').DataTable({
                searching: true,
                sort: false,
                lengthChange: false,
                pagingType: "full_numbers",
                scrollX: true,
                scrollCollapse: true,
                "columnDefs": [
                { className: "text-center", "targets": [1,2,8] }
                ]
            });

            $('#pnSearch')
              .on('show.bs.collapse', function (a) {
                  $('#pnSearch').removeClass('panel-search');
              })
              .on('hidden.bs.collapse', function (a) {
                  $('#pnSearch').addClass('panel-search');
              });

            $('#txtSerail').on('keyup change', function () {
                dataTableInstance.columns(5).search(this.value).draw();
            });

            $('#txtModel').on('keyup change', function () {
                dataTableInstance.columns(4).search(this.value).draw();
            });

            $('#txtCustomer').on('keyup change', function () {
                dataTableInstance.columns(3).search(this.value).draw();
            });

        });
    });
</script>
