@model IEnumerable<OMC2016.Models.Tools.MenuBarItem>

@{
    string DepID = string.Empty;
    string PerID = string.Empty;
}

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <!-- /.navbar-Top-Left -->
    <div class="navbar-header">
        @Html.ActionLink("OMC2016", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>

    <!-- /.navbar-Top-Right -->
    <ul class="nav navbar-top-links navbar-right">

        <!-- Administrator Menu -->
        @{
            if (Request.Cookies.Get("UserCookie") == null ? true : false)
            {
                PerID = "0";
            }
            else
            {
                PerID = Request.Cookies["UserCookie"]["PerID"];
            }

            if (Request.IsAuthenticated && PerID == "99")
            {
        <li class="dropdown">
            <a class="navbar-Admin dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-Admin">
                <li>
                    <a href="@Url.Action("Config", "Administrator")"><i class="fa fa-fw fa-cogs"></i> App Configuration</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="@Url.Action("Test", "Administrator")"><i class="fa fa-fw fa-pencil-square-o"></i> Company Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-users"></i> Member Control</a>
                </li>
            </ul>
        </li>
            }
        }

        <li class="dropdown">
            <a class="navbar-alerts dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>


        <!-- UserControl -->
        @if (Request.IsAuthenticated)
        {
        <li class="dropdown navbar-login">
            @using (Html.BeginForm("LogOff", "Authentication", FormMethod.Post, new { id = "logoutForm", @class = "form-css" }))
                {
            @Html.AntiForgeryToken()
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @User.Identity.Name.ToUpper() [D:@Request.Cookies["UserCookie"]["DepID"] | P:@Request.Cookies["UserCookie"]["PerID"]] <b class="caret"></b></a>
            <ul class="dropdown-menu dropdown-login">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    @Html.ActionLink(" Settings", "ModalChangePassword", "Authentication",new { id = Request.Cookies["UserCookie"]["UserID"] }, new { @class = "modal-link fa fa-fw fa-gear" })
                </li>
                <li class="divider"></li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
                }
        </li>
        }
        else
        {
            Request.Cookies.Remove("UserCookie");
        <li>@Html.ActionLink("Log in", "Login", "Authentication", routeValues: null, htmlAttributes:  new { id = "loginLink", @class= "login" })</li>
        }
    </ul>

    @{
        if (Request.Cookies.Get("UserCookie") == null ? true : false)
        {
            DepID = "0";
        }
        else
        {
            DepID = Request.Cookies["UserCookie"]["DepID"];
        }
    }
    <!-- End UserControl -->
    <!-- MenuBar -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            @*Level 1*@
            <ul class="nav" id="side-menu">
                @foreach (var item in Model)
                {

                    if (item.MenuIsParrent == false && item.MenuParrentID == 0)
                    {
                        //Dep = ICT Show All Department
                        if (DepID == "4")
                        {
                            if (item.MenuController == null)
                            {
                                <li><a href="#"> <i class="@item.MenuImage"></i> @item.MenuNameOption</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action(item.MenuAction, item.MenuController)"><i class="@item.MenuImage"></i> @item.MenuNameOption</a></li>
                            }
                        }
                        //Show My Department
                        else
                        {
                            if (item.MenuDep.ToString() == DepID)
                            {
                                if (item.MenuController == null)
                                {
                                    <li><a href="#"> <i class="@item.MenuImage"></i> @item.MenuNameOption</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action(item.MenuAction, item.MenuController)"><i class="@item.MenuImage"></i> @item.MenuNameOption</a></li>
                                }
                            }
                        }
                    }
                    else
                    {
                        if (item.MenuIsParrent == true && item.MenuParrentID == 0 && DepID != "0")
                        {
                            <li>
                                @*level2*@
                                <a href="#"><i class="@item.MenuImage"></i> @item.MenuNameOption<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    @foreach (var Level2 in Model.Where(p => p.MenuParrentID == item.MenuID).OrderBy(o => o.MenuNameOption))
                                    {
                                        if (DepID == "4")
                                        {
                                            if (Level2.MenuIsParrent == true)
                                            {
                                                <li>
                                                    @*level3*@
                                                    <a href="#">@Level2.MenuNameOption <span class="fa arrow"></span></a>
                                                    <ul class="nav nav-third-level">
                                                        @foreach (var Level3 in Model.Where(p => p.MenuParrentID == Level2.MenuID).OrderBy(o => o.MenuNameOption))
                                                        {
                                                            if (Level3.MenuController == null)
                                                            {
                                                                <li><a href="#">@Level3.MenuNameOption</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a href="@Url.Action(Level3.MenuAction, Level3.MenuController)">@Level3.MenuNameOption</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                if (Level2.MenuController == null)
                                                {
                                                    <li><a href="#">@Level2.MenuNameOption</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@Url.Action(Level2.MenuAction, Level2.MenuController)">@Level2.MenuNameOption</a></li>
                                                }
                                            }
                                        }
                                        else if (Level2.MenuParrentID != 0 && Level2.MenuDep.ToString() == DepID || Level2.MenuDep == 0)
                                        {
                                            if (Level2.MenuIsParrent == true)
                                            {
                                                <li>
                                                    @*level3*@
                                                    <a href="#">@Level2.MenuNameOption <span class="fa arrow"></span></a>
                                                    <ul class="nav nav-third-level">
                                                        @foreach (var Level3 in Model.Where(p => p.MenuParrentID == Level2.MenuID).OrderBy(o => o.MenuNameOption))
                                                        {
                                                            if (Level3.MenuController == null)
                                                            {
                                                                <li><a href="#">@Level3.MenuNameOption</a></li>
                                                            }
                                                            else
                                                            {
                                                                <li><a href="@Url.Action(Level3.MenuAction, Level3.MenuController)">@Level3.MenuNameOption</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                            else
                                            {
                                                if (Level2.MenuController == null)
                                                {
                                                    <li><a href="#">@Level2.MenuNameOption</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href="@Url.Action(Level2.MenuAction, Level2.MenuController)">@Level2.MenuNameOption</a></li>
                                                }
                                            }
                                        }
                                    }
                                </ul>
                            </li>
                        }
                    }
                }
            </ul>
        </div>
    </div>

    <!-- End MenuBar -->

</nav>