@model IEnumerable<OMC2016.Models.Customer.CustomerInfo>
<style>
    .lbTitle {
        text-align: right;
        text-decoration: underline;
    }

    .lbDetail {
        font-weight: bold;
    }
</style>
@foreach (var _Info in Model)
{
    <br />
    <div class="container-fluid">

        <!-- รหัส - ชื่อ -->
        <div class="form-group">
            @Html.Label("รหัสลูกค้า", htmlAttributes: new { @class = "col-md-1 lbTitle" })
            @Html.Label("", _Info.CODE, htmlAttributes: new { @class = "col-md-1 lbDetail" })

            @Html.Label("ชื่อลูกค้า", htmlAttributes: new { @class = "col-md-1 lbTitle" })
            @Html.Label("", _Info.NAME, htmlAttributes: new { @class = "col-md-9 lbDetail" })

        </div>
        <!-- ที่อยู่ -->
        <div class="form-group">
            @Html.Label("ที่อยู่", htmlAttributes: new { @class = "col-md-1 lbTitle" })
            @Html.Label("", _Info.ADDB1, htmlAttributes: new { @class = "col-md-11 lbDetail" })
            @Html.Label("", _Info.ADDB2 + " " + _Info.ADDB3, htmlAttributes: new { @class = "col-md-offset-1 col-md-11 lbDetail" })
            @Html.Label("", _Info.PROVINCE + " " + _Info.POST, htmlAttributes: new { @class = "col-md-offset-1 col-md-11 lbDetail" })
        </div>

        <div class="form-group">
            @Html.Label("โทรศัพท์ : ", htmlAttributes: new { @class = "col-md-1 lbTitle" })
            @Html.Label("", _Info.PHONE, htmlAttributes: new { @class = "col-md-11 lbDetail" })

            @Html.Label("แฟกซ์ : ", htmlAttributes: new { @class = "col-md-1 lbTitle" })
            @Html.Label("", _Info.FAX, htmlAttributes: new { @class = "col-md-11 lbDetail" })

            @Html.Label("E-Mail : ", htmlAttributes: new { @class = "col-md-1 lbTitle" })
            @Html.Label("", _Info.EMAIL, htmlAttributes: new { @class = "col-md-11 lbDetail" })

            @Html.Label("WEB : ", htmlAttributes: new { @class = "col-md-1 lbTitle" })
            @Html.Label("", _Info.WEB, htmlAttributes: new { @class = "col-md-11 lbDetail" })
        </div>


    </div>

}
