@model IEnumerable<OMC2016.Models.Customer.CustomerList>
@{
    ViewBag.Title = "CustomerList";
}

<style>
    .dataTables_filter {
        display: none;
    }

    .btn-default:hover {
        color: #333;
        background-color: #fff;
        border-color: #adadad;
    }

    div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #CustomerList tr:hover td {
        background: #FFCFA7;
    }
</style>

<div id="Panal" class="panel panel-primary hidden">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-table fa-fw"></i> Customer List</h3>
    </div>
    <div class="panel-body">

        <from class="navbar navbar-left" style="margin-bottom:-10px;">
            <div class="input-group">
                <div class="input-group-btn">
                    @Html.DropDownList("GroupCustomer", new List<SelectListItem> { new SelectListItem { Text = "-- Select All Group --", Value = "0" } }, new { @class = "btn btn-default dropdown-toggle ddlProjectvalue" })
                </div>
                <input type="text" class="form-control" placeholder="Search Customer Name" id="txtSearch" style="height:32px;">
            </div>
        </from>

        <table id="CustomerList" class="nowrap row-border" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerGroup)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Detail", "Detail", new { id = item.CustomerCode })
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.CustomerCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.CustomeName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.CustomerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.CustomerGroup)
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if (window.orientation == 0) {
            alert("กรุณาปรับเป็นแนวนอน");
            $('#Panal').addClass("hidden");
        }
        else {
            $('#Panal').removeClass("hidden");
        }

        $(window).on("orientationchange", function () {
            if (window.orientation == 0) {
                alert("กรุณาปรับเป็นแนวนอน");
                $('#Panal').addClass("hidden");
            }
            else {
                $('#Panal').removeClass("hidden");
            }
        });

        var dataTableInstance = $('#CustomerList').DataTable({
            searching: true,
            sort: false,
            autoWidth: true,
            "sScrollX": "100%",
            "bScrollCollapse": true,
            lengthChange: false
        });

        $('#txtSearch').on('keyup change', function () {
            dataTableInstance.columns(2).search(this.value).draw();
        });

        $.ajax({
            url: '/Customer/GetCustomerGroup',
            dataType: "json",
            type: "GET",
            success: function (data) {
                var $dpCustomerFroup = $(".ddlProjectvalue");
                $.each(data, function (i) {
                    var optionhtml = '<option value="' + data[i].Key + '">' + data[i].Value + '</option>';
                    $dpCustomerFroup.append(optionhtml);
                });
            },
            error: function () {
                alert("Error");
            }
        });

        $('.ddlProjectvalue').change(function () {
            var val = $(this).find('option:selected').text();
            if ($(this).val() == 0) {
                dataTableInstance.search('').columns().search('').draw();
            }
            else {
                dataTableInstance.columns(4).search(val).draw();
            }
        });


    });

</script>
